@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url(../images/hero_desktop.jpeg);
    text-align: center;
    background-size: cover;

    @media (max-width: 768px) {
        background-image: url(../images/hero_celular.jpeg);//alterando a imagem de fundo para telas menores//
        padding-top: calc(50vw + 25px); //aumentando o padding-top para telas menores//
        background-size: contain;//ajustando a imagem de fundo para telas menores//
        background-repeat: no-repeat;//evitando a repetição da imagem//
        margin-top: -55px;//ajustando a margem superior para telas menores//
    }

    @media (min-width: 769px) and (max-width: 1024px) {
        background-image: url(../images/hero_celular.jpeg);//alterando a imagem de fundo para telas menores//
        padding-top: calc(65vw + 25px); //aumentando o padding-top para telas menores//
        background-size: contain;//ajustando a imagem de fundo para telas menores//
        background-repeat: no-repeat;//evitando a repetição da imagem//
        margin-top: -55px;//ajustando a margem superior para telas menores//
        
        }

    

    .button {
        margin-top: 2vw;
        margin-bottom: 8px;
    }

    &__content {
        max-width: 640px;

        @media (min-width: 769px) and (max-width: 1024px) {
            max-width: 100%;
            width: 500%;
            
        }

        &__branding {
            max-width: 320px;
            margin: 0 auto 38px;

            @media (max-width: 768px) {
                max-width: 180px;
            }

            @media (min-width: 769px) and (max-width: 1024px) {
            max-width: 60%;
            
            }
            
        }

        .title--small {
            margin-bottom: 64px;
        }

        p {
            margin-bottom: 20px;

            &:last-child {/*pseudo seletor - que é um estado ou uma condução (este significa o ultimo filho)*/
                margin-top: 60px;
            }
        }

        &__combos {
            display: flex;
            justify-content: space-between;

            @media (max-width: 768px) {
                display: block;
            }

            &__combo {
                width: calc(50% - 12px);

                @media (max-width: 768px) {
                    width: 100%;
                    margin-bottom: 24px;
                }
                
                img {
                    max-height: 60px;

                    @media (min-width: 769px) and (max-width: 1024px) {
                        max-height: 100px;//ajustando o tamanho da imagem para tablets//
                    }
                }
            }
        }
    }
}