@use 'variaveis';

.shows {
    padding: 2vw 5.6vw;
    min-height: 50vw;

    &__list {
        margin-top: 44px;
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px; /*para dar espaçamento nas imagens*/

        @media (max-width: 768px) {
            grid-template-columns: 1fr 1fr; /*2 colunas em telas menores*/
        }

        &--is-active {
            display: grid;
        }

        &__item {
            img {
                max-width: 100%;
                border-radius: 4px;
            }
        }
    }

    &__tabs {
        display: flex;
        justify-content: center;

        @media (max-width: 768px) {
                white-space: nowrap;//evita que o texto quebre em telas menores//
                overflow-x: scroll;//adiciona uma barra de rolagem horizontal se necessário//
                padding-left: 20px;//adiciona um espaçamento à esquerda para o primeiro item//
            }

        &__button{
            color: variaveis.$corTextoSecundario;
            font-size: 20px;
            border: none;
            
            padding-bottom: 5px;
            background: none;
            text-transform: uppercase;
            margin: 0 1vw;
            cursor: pointer;
            border-bottom: 5px solid transparent;

            &--is-active {
                border-color: variaveis.$corTextoSecundario;
            }

            @media (max-width: 768px) {
                font-size: 16px;
            }
        }
    }
}


